################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MarketDataProvider/obj
/MarketDataProvider/.vs
