################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MarketDataProvider/obj
/MarketDataProvider/.vs
/ConsoleUI/bin/Debug/net7.0
/ConsoleUI/obj
/MarketDataProvider/bin/Debug/net7.0
/MarketDataProviderTests/bin/Debug/net7.0
/MarketDataProviderTests/Fakes
/MarketDataProviderTests/FakesAssemblies
/MarketDataProviderTests/obj
